


/* Generic styling */

body {
  font-size: 16px;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

/*Titles*/

.title-first {
  font-size: 2.8rem;
  font-family: "Roboto Slab";
  font-weight: bold;
  padding: 2rem 0;
  line-height: 3rem;
}

.title-second {
  font-size: 1.5rem;
  text-align: center;
}

.title-third {
  font-size: 1.5rem;
  line-height: 2rem;
}

/*Section containers */

.content-main {
  width: 60%;
}

.side-bar {
  width: 40%;
}

.container-img {
  overflow: hidden;
}

.background--dark {
  background-color: #797E8C;
}

.font--light {
  color: white;
}

.background--light {
  background-color: white;
}

/* Flexbox generic stying*/

/*Row*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.row--top--center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.row--spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.row--middle--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/*Column*/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.column--spacebetween {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.column--right--top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


/* Navigation bar styling */

.navbar {
  height: 4rem;
  padding: 0 1.5rem;
}

.logo span {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.logo span:first-of-type {
  font-weight: 700;
  color: #231826;
}

nav span {
  padding-left: 1rem;
}

/* Hero section stying */

.hero-content {
  width: 60%;
  overflow: hidden;
}

.hero-content__img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 2rem 1.5rem;
}

.hero-sidebar {
  width: 40%;
  margin: auto 0;
  padding-left: 1.5rem;
  }

.hero-sidebar__description {
  padding-right: 20%
}

.button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  background-color: #231826;
  text-align: center;
  font-weight: bold;
}

/* Information section styling */

/* List Item Stying */

.list-item__container div:first-child {
  padding-top: 2rem;
  border-top: 0;
}

.list-item__container div:last-child {
  padding-bottom: 2rem;
  border-bottom: 0;
}

.list-item {
  padding: 1rem;
  border: 2px solid grey;
}

.list-item__image {
  width: 35%;
  height: auto;
  padding-right: 1rem;
}

.list-item__text-container {
  width: 65%;
}

.list-item__text-container__text {
    padding: 1rem 0;
}

#info-section div:nth-child(3n+0) {
  background-color: pink;
}

/* Grid section styling */

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 2.5rem 0 4.5rem;
}

.grid-item {
  width: 31.8%;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.gid-item__description {
    padding: 1rem 1rem 1.5rem 1rem;
}

.grid-item img {
  width: 100%;
  height: auto;
}

/*Thesis exhibit section styling */

.video-thumbnail__title {
  padding-bottom: 0.5rem;
}

video {
  background-image: url(../images/video_placeholder.jpg);
  background-position: center;
}

.container-video {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  height: auto;
  display: block;
}

.list-item--no-border {
  padding: 1rem;
  border: 0;
}

#thesis-exhibit .container-secondary div:last-child {
  background-color: pink;
}

/*Footer styling*/

footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid grey;
  margin-top: 1.5rem;
}
