
/* Generic styling */

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.title-main {
  font-size: 3rem;
}

.title-secondary {
  font-size: 1.5rem;
}

.container-main {
  padding: 0 1.5rem;
}

.container-primary {
  width: 60%;
  padding-right: 1.5rem;
  background-color: green;
}

.container-secondary {
  width: 40%;
  margin: auto 0;
}

.container-img {
  overflow: hidden;
}

.img-large {
  max-width: 100%;
  padding: 2rem 0;
  height: auto;
  display: block;
}

.background--dark {
  background-color: pink;
}

.background--light {
  background-color: white;
}

/* Flexbox generic stying*/

/*Row*/

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.row--spacearound {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.row--spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row--top--spacebetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.row--top--center {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.row--top--start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.row--middle--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/*Column*/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.column--space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.column--right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.column--right--top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.column--right--space-between {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.column--right--space-around {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.column--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


/* Navigation bar styling */

.navbar {
  height: 4rem;
  padding: 0 1.5rem;
}

.logo span {
  text-transform: uppercase;
}

.logo span:first-of-type {
  font-weight: 700;
}

nav span {
  padding-left: 1rem;
}

/* Hero section stying */

.hero-description {
  padding-right: 20%;
}

.hero-description h1 h2 {
  padding-bottom: 2rem;
}

.button {
  display: block;
  padding: 0.5rem;
  background-color: grey;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

/* Information section styling */

/* List Item Stying */

.list-item {
  padding: 1rem;
  border: 2px solid grey;
}

#info-section div:first-child {
  padding-top: 2rem;
  border-top: 0;
}

#info-section div:last-child {
  padding-bottom: 2rem;
  border-bottom: 0;
}

#info-section div:nth-child(3n+0) {
  background-color: pink;
}

.list-item__image {
  width: 35%;
  height: auto;
  padding-right: 1rem;
}

.list-item__text-container {
  width: 65%;
}

.list-item__text-container__text {
    padding: 1rem 0;
}

/* Large thumbnail styling */

.large-thumbnail__text-container {
  background-color: red;
  padding-bottom: 2rem;
  margin: auto 0;
}

.large-thumbnail__text-container h2 {
  padding-bottom: 1.5rem;
}

/* Grid section styling */

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 2.5rem 0 4.5rem;
}

.grid-item {
  width: 31.8%;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.gid-item__description {
    padding: 1rem 1rem 1.5rem 1rem;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.
